<a href="https://colab.research.google.com/github/UPstartDeveloper/Problem_Solving_Practice/blob/master/math_problems/correlation_between_income_inequality_and_happiness.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question from <a href="www.interviewqs.com">Data Interview Qs</a> - sign up to receive a few DS questions/week via email.



---

<p>Suppose you are given two datasets as shown below:</p>
<ul>
<li><a href="https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/gini_index.csv">Data</a> on the Gini coefficient (proxy for income inequality).
  <ul><li>This is a number between 0 and 1, where 0 corresponds with perfect equality (e.g. everyone has the same income) and 1 corresponds with perfect inequality (where one person has all the incomeâ€”and everyone else has no income). You can read more about the Gini coefficient on Wikipedia <a href="https://en.wikipedia.org/wiki/List_of_countries_by_income_equality">here</a></li>
  </ul>
</li>
<li><a href="https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/happiness_index.csv">Data</a> containing a Happiness Score from the World Happiness Report.
  <ul><li>The score represents a weighted average across a number of variables and ranges from 1-10, where 10 is perfectly happy. You can read more about the World Happiness Report Wikipedia <a href="https://en.wikipedia.org/wiki/World_Happiness_Report">here</a></li>
  </ul>
</li>
</ul>
<p>Given this data, determine if there is a correlation between income equality (field: 'current' in Gini index dataset) and happiness (field: 'overall_score' in Happiness dataset). You'll only want to keep records that exist in both datasets (there are many countries/regions in the World Happiness Report that do not have a measured Gini index).</p>
<p>To help get you started, here is a Google Colab notebook with the datasets imported.</p>
<p>Solution will be written in Python for premium users.</p>



---

In [1]:
# Here is code to pull the dataset and relevant libraries 
# to help get you started - written by Eric Rood
import pandas as pd
gini_index = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/gini_index.csv')
happiness_index = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/happiness_index.csv')

gini_index.head()

     country  mid_90s   2000  mid_2000s  current
0  Australia    0.309  0.317      0.315    0.336
1    Austria    0.238  0.252      0.265    0.261
2    Belgium    0.287  0.289      0.271    0.259
3     Canada    0.289  0.318      0.317    0.324
4      Chile    0.427    NaN      0.403    0.394

In [2]:
happiness_index.head()

  country_or_region  overall_score  ...  generosity  perceptions_of_corruption
0           Finland          7.769  ...       0.153                      0.393
1           Denmark          7.600  ...       0.252                      0.410
2            Norway          7.554  ...       0.271                      0.341
3           Iceland          7.494  ...       0.354                      0.118
4       Netherlands          7.488  ...       0.322                      0.298

[5 rows x 8 columns]

#### First, merge the two DataFrames

In [8]:
gini_index = gini_index.rename(columns={'country': 'country_or_region'})
merged = gini_index.merge(happiness_index, how='inner', on='country_or_region')

In [9]:
merged.head()

  country_or_region  mid_90s  ...  generosity  perceptions_of_corruption
0         Australia    0.309  ...       0.332                      0.290
1           Austria    0.238  ...       0.244                      0.226
2           Belgium    0.287  ...       0.160                      0.210
3            Canada    0.289  ...       0.285                      0.308
4             Chile    0.427  ...       0.187                      0.056

[5 rows x 12 columns]

#### Let's Compute the Pearson Correlation Coefficient

In [10]:
import numpy as np 

def pearson_corr(x, y):
    '''Computes the Pearson correlation coefficient of 2 lists of numbers.'''
    x_mean = np.mean(x)
    y_mean = np.mean(y)
    multiplied_deviations = [(i - x_mean)*(j - y_mean) for i,j in zip(x,y)]
    sq_deviation_1 = [(i - x_mean)**2 for i in x]
    sq_deviation_2 = [(j - y_mean)**2 for j in y]
    correlation_x_y = np.sum(
        multiplied_deviations) / \
        np.sqrt(np.sum(sq_deviation_1))/np.sqrt(np.sum(sq_deviation_2)
    )
    return correlation_x_y

In [12]:
income_ineq = merged["current"]
happiness = merged["overall_score"]
correlation_inequality_happines = pearson_corr(income_ineq, happiness)

In [13]:
print(f"Correlation between income inequality and happiness: {correlation_inequality_happines}.")

Correlation between income inequality and happiness: -0.3125385772724006.